@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: poppins;
}
body {
    background-color: #d7f5dc;
}
header {
    padding: 0 5%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 0;
}
nav ul {
    display: flex;
    gap: 25px;
    align-items: center;
}
.logo {
    color: black;
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: white;
    border: 1px solid rgb(92, 90, 90);
    font-weight: bold;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo span {
    color: #f55f1d;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.rightNav {
    display: inline;
    gap: 100px;
    margin-left: 500px;
}
select {
    border: none;
    background: none;
}
a {
    font-family: "Poppins", sans-serif;;
}
.login {
    padding: 7px 15px;
    border-radius: 8px;
    border: 1px solid #20b15a;
    background: none;
}
.register {
    padding: 7px 15px;
    border-radius: 8px;
    border: none;
    background-color: #20b15a;
}
.buttons {
    display: flex;
    gap: 50px;
    align-items: center;
}
.buttons button {
    width: 110px;
    height: 40px;
    border-radius: 6px;
}
.buttons button:first-child {
    background-color: #d7f5dc;
    border: 1px solid#20b15a;
    font-family: "Poppins", sans-serif;
}
.buttons button:last-child {
    background-color: #20b15a;
    border: none;
    font-family: "Poppins", sans-serif;
}
.banner--section {
    display: flex;
    padding: 0 5px;
}
main {
    margin-top: 5%;
    margin-left: 50px;
}
main h1 {
    font-size: 3.4rem;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
main p {
    font-family: "Sen", sans-serif;
    font-size: 22px;
}
.group-38 {
    position: absolute;
    width: 600px;
    z-index: -1;
    top: 85px;
    left: 690px;
    top: 100px;
    /*height: 678.89px; */
}
.frame-4 {
    position: absolute;
    z-index: -1;
    left: 610px;
}
.frame-5 {
    position: absolute;
    z-index: -1;
    left: 1080px;
    top: 110px;
}
.frame-6 {
    position: absolute;
    left: 795px;
    top: 310px;
}
.rectangle-1 {
    position: absolute;
    left: 720px;
    top: 0px;
}
.rectangle-2 {
    position: absolute;
    left: 1000px;
    top: 150px;
}
.rectangle-3 {
    position: absolute;
    left: 815px;
    top: 230px;
}
.rectangle-4 {
    position: absolute;
    left: 1100px;
    top: 330px;
}
.rectangle-5 {
    position: absolute;
    left: 978px;
    top: 50px;
    z-index: -1;
}
.get--started {
    width: 110px;
    height: 40px;
    border-radius: 6px;
    background-color: #20b15a;
    border: none;
    margin-top: 20px;
}
.link-a {
    color: white;
    
}
.companies {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 5%;
}

